<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Recipe</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipes" routerLinkActive="active"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/shopping-list"
            routerLinkActive="active"
            >Shooping List</a
          >
        </li>
      </ul>
      <div class="dropdown">
        <a
          class="nav-link"
          type="button"
          appDropdown
          aria-haspopup="true"
          aria-expanded="false"
        >
          Manage
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item">Action</a>
        </div>
      </div>
    </div>
  </div>
</nav>
