<div class="row">
  <!-- <div appBasicHighlight [highlightColor]="'red'" [defaultColor]="'grey'"> -->
  <!--   <h1>this is a my first custom directive</h1> -->
  <!-- </div> -->
  <div class="col-xs-10">
    <app-shooping-edit
      (ingredientAdded)="onIngredientAdded($event)"
    ></app-shooping-edit>
  </div>
  <hr />
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let ingredient of ingredients"
      style="cursor: pointer"
    >
      {{ ingredient.name }} ({{ ingredient.amount }})
    </li>
  </ul>
</div>
